.navbar {
  background-color:#00E6E6;
  padding: 1rem 0;
}

.navbar-brand {
  background-color: black;
  color:#00E6E6;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Advent Pro', sans-serif;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-item {
  color:black;
  border-style: solid;
  border-radius: 0.5rem;
  padding: 0.2rem;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Advent Pro', sans-serif;
}

.navbar-user {
  margin-top: 0.5rem;
  text-align: right;
  color: black;
}
