.polls li {
  background-color:#00E6E6;
  color:white;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-size: 18px;
}

.polls li:nth-child(odd) {
  background-color:black;
}

.polls li:hover {
  border: 2px dashed #07a3fd93;
}

.poll-title {
  color: white;
  font-size: 2rem;
  margin-top: 1rem;
  text-align: center;
  text-transform: uppercase;
}
